<!--div container-->
<div id="container" class="container-fluid">

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!--<a class="navbar-brand" href="#">Navbar</a>-->
  
    <!--<a class="navbar-brand" href="#"></a>-->
    <div class="navbar-brand form-inline">
    <form>
        <!--<input required type="text" class="form-control"  [(ngModel)]="solrquery.q" placeholder="Traženi izraz?" name="q" #clanName>-->
        <input required type="text" class="form-control"  [(ngModel)]="guiQ" placeholder="Traženi izraz?" name="guiQ" #clanName>
        <button class="btn btn-info" (click)="searchClanovi(solrquery);" type="submit" >Traži</button>
        <button class="btn btn-info" (click)="prevPage(solrquery);searchClanovi(solrquery);" type="submit" >&laquo;</button>
        <button class="btn btn-info" (click)="nextPage(solrquery);searchClanovi(solrquery);" type="submit" >&raquo;</button>
        <button class="btn btn-warning" (click)="resetQuery();" type="submit" >Reset</button>
    </form>
    </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!--<li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>-->
      <!--Highlight Dropdown-->
      <!--cut down-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Highlight
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <!--cut up-->
          <div>
          <label class="checkbox-inline col-xs-12" [class.active]="solrquery.hl.on">
            <input type="checkbox" [(ngModel)]="solrquery.hl.on" name="solrquery.hl.on">hl
          </label>
          </div>
          <div *ngIf="solrquery.hl.on">
          <input type="text" class="form-control" [(ngModel)]="solrquery.hl.fl" placeholder="hl.fl" name="hl.fl"/>
          <input type="text" class="form-control" [(ngModel)]="solrquery.hl.fragsize" placeholder="hl.fragsize" name="hl.fragsize"/>
          <input type="text" class="form-control" [(ngModel)]="solrquery.hl.simple.pre" placeholder="hl.simple.pre" name="hl.simple.pre"/>
          <input type="text" class="form-control" [(ngModel)]="solrquery.hl.simple.post" placeholder="hl.simple.post" name="hl.simple.post"/>
            <label>
              <input type="checkbox" [(ngModel)]="solrquery.hl.requireFieldMatch" placeholder="hl.requireFieldMatch" name="hl.requireFieldMatch"/>requireFieldMatch
            </label>
            <label>
              <input type="checkbox" [(ngModel)]="solrquery.hl.usePhraseHighlighter" placeholder="hl.usePhraseHighlighter" name="hl.usePhraseHighlighter"/>usePhraseHighlight
            </label>
            <label>
              <input type="checkbox" [(ngModel)]="solrquery.hl.highlightMultiTerm" placeholder="hl.highlightMultiTerm" name="hl.highlightMultiTerm"/>highlightMultiTerm
            </label>
          <!-- //div form-hl -->
          <!--cut down-->
        </div>
        </div>
      </li>
      <!--cut up-->
      <!--//Highlight Dropdown-->
      <!--Dismax Dropdown-->
      <!--cut down-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownDismax" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dismax
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownDismax">
          <!--// dismax-->
          <div>
            <label class="checkbox-inline" [class.active]="solrquery.dismax.on">
              <!--<input type="checkbox" (click)="toggle(solrquery.dismax)" name="dismax">dismax-->
              <input type="checkbox" [(ngModel)]="solrquery.dismax.on" name="solrquery.dismax.on">dismax
            </label>
            <div *ngIf="solrquery.dismax.on" id="form-dismax">
              <input type="text" class="form-control nav-item" [(ngModel)]="solrquery.dismax.q.alt" placeholder="dismax.q.alt" name="dismax.q.alt"/>
              <input type="text" class="form-control nav-item" [(ngModel)]="solrquery.dismax.qf" placeholder="dismax.qf" name="dismax.qf"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.dismax.mm" placeholder="dismax.mm" name="dismax.mm"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.dismax.pf" placeholder="dismax.pf" name="dismax.pf"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.dismax.ps" placeholder="dismax.ps" name="dismax.ps"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.dismax.qs" placeholder="dismax.qs" name="dismax.qs"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.dismax.tie" placeholder="dismax.tie" name="dismax.tie"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.dismax.bq" placeholder="dismax.bq" name="dismax.bq"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.dismax.bf" placeholder="dismax.bf" name="dismax.bf"/>
            </div>
          </div>
          <!--cut up-->
          <!--cut down-->
        </div>
      </li>
      <!--cut up-->
      <!--Edismax Dropdown-->
      <!--cut down-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownEdismax" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Edismax
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownEdismax">
          <!--cut up-->
          <!-- edismax-->
          <div>
            <label class="checkbox-inline" [class.active]="solrquery.edismax.on">
              <input type="checkbox" [(ngModel)]="solrquery.edismax.on" name="solrquery.edismax.on">edismax
            </label>
            <div *ngIf="solrquery.edismax.on" id="form-edismax">
              <input type="text" class="form-control" [(ngModel)]="solrquery.edismax.q.alt" placeholder="edismax.q.alt" name="edismax.q.alt"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.edismax.qf" placeholder="edismax.qf" name="edismax.qf"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.edismax.mm" placeholder="edismax.mm" name="edismax.mm"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.edismax.pf" placeholder="edismax.pf" name="edismax.pf"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.edismax.ps" placeholder="edismax.ps" name="edismax.ps"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.edismax.qs" placeholder="edismax.qs" name="edismax.qs"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.edismax.tie" placeholder="edismax.tie" name="edismax.tie"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.edismax.bq" placeholder="edismax.bq" name="edismax.bq"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.edismax.bf" placeholder="edismax.bf" name="edismax.bf"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.edismax.uf" placeholder="edismax.uf" name="edismax.uf"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.edismax.pf2" placeholder="edismax.pf2" name="edismax.pf2"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.edismax.pf3" placeholder="edismax.pf3" name="edismax.pf3"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.edismax.ps2" placeholder="edismax.ps2" name="edismax.ps2"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.edismax.ps3" placeholder="edismax.ps3" name="edismax.ps3"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.edismax.boost" placeholder="edismax.boost" name="edismax.boost"/>
              <div class="checkbox">
                <label><input type="checkbox" [(ngModel)]="solrquery.edismax.stopwords" name="edismax.stopwords"/>stopwords</label>
              </div>
              <div class="checkbox">
               <label><input type="checkbox" [(ngModel)]="solrquery.edismax.lowercaseOperators" name="edismax.lowercaseOperators"/>lowercaseOperators</label>
              </div>
           </div>
          </div>
          <!--// edismax-->
          <!--cut down-->
        </div>
      </li>
      <!--cut up-->
      <!--=======-->
      <!--Facet Dropdown-->
      <!--cut down-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownFacet" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Facet
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownFacet">
          <!--cut up-->
          <!-- facet -->
          <div>
            <label class="checkbox-inline" [class.active]="solrquery.facet.on">
              <input type="checkbox" [(ngModel)]="solrquery.facet.on" name="solrquery.facet.on">facet
            </label>
            <div *ngIf="solrquery.facet.on" id="form-facet">
              <input type="text" class="form-control" [(ngModel)]="solrquery.facet.query" placeholder="facet.query" name="facet.query"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.facet.field" placeholder="facet.field" name="facet.field"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.facet.prefix" placeholder="facet.prefix" name="facet.prefix"/>
            </div>
          </div>
          <!--// facet-->
          <!--cut down-->
        </div>
      </li>
      <!--cut up-->
      <!--=======-->
      <!--Spatial Dropdown-->
      <!--cut down-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownSpatial" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Spatial
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownSpatial">
          <!--cut up-->
          <!-- spatial -->
          <div>
            <label class="checkbox-inline" [class.active]="solrquery.spatial.on">
              <input type="checkbox" [(ngModel)]="solrquery.spatial.on" name="solrquery.spatial.on">spatial
            </label>
            <div *ngIf="solrquery.spatial.on" id="form-spatial">
              <input type="text" class="form-control" [(ngModel)]="solrquery.spatial.pt" placeholder="spatial.pt" name="spatial.pt"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.spatial.sfield" placeholder="spatial.sfield" name="spatial.sfield"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.spatial.d" placeholder="spatial.d" name="spatial.d"/>
            </div>
          </div>
          <!--// spatial-->
          <!--cut down-->
        </div>
      </li>
      <!--cut up-->
      <!--=======-->
      <!--Spellcheck Dropdown-->
      <!--cut down-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownSpellcheck" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Spellcheck
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownSpellcheck">
          <!--cut up-->
          <!-- spellcheck -->
          <div>
            <label class="checkbox-inline" [class.active]="solrquery.spellcheck.on">
              <input type="checkbox" [(ngModel)]="solrquery.spellcheck.on" name="solrquery.spellcheck.on">spellcheck
            </label>
            <div *ngIf="solrquery.spellcheck.on" id="form-spellcheck">
              <input type="text" class="form-control" [(ngModel)]="solrquery.spellcheck.built" placeholder="spellcheck.built" name="spellcheck.built"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.spellcheck.reload" placeholder="spellcheck.reload" name="spellcheck.reload"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.spellcheck.q" placeholder="spellcheck.q" name="spellcheck.q"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.spellcheck.dictionary" placeholder="spellcheck.dictionary" name="spellcheck.dictionary"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.spellcheck.count" placeholder="spellcheck.count" name="spellcheck.count"/>
              <div class="checkbox">
                <label><input type="checkbox" [(ngModel)]="solrquery.spellcheck.onlyMorePopular" name="spellcheck.onlyMorePopular"/>onlyMorePopular</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" [(ngModel)]="solrquery.spellcheck.extendedResults" name="spellcheck.extendedResults"/>extendedResults</label>
              </div>
              <div class="checkbox">
             <label><input type="checkbox" [(ngModel)]="solrquery.spellcheck.collate" name="spellcheck.collate"/>collate</label>
              </div>
              <input type="text" class="form-control" [(ngModel)]="solrquery.spellcheck.maxCollations" placeholder="spellcheck.maxCollations" name="spellcheck.maxCollations"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.spellcheck.maxCollationTries" placeholder="spellcheck.maxCollationTries" name="spellcheck.maxCollationTries"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.spellcheck.accuracy" placeholder="spellcheck.accuracy" name="spellcheck.accuracy"/>
            </div>
          </div>
          <!--// spellcheck-->
          <!--cut down-->
        </div>
      </li>
      <!--cut up-->
      <!--=======-->
      <!--Debug Dropdown-->
      <!--cut down-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownDebug" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Debug
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownDebug">
          <!--cut up-->
          <!-- debug -->
          <div>
            <label class="checkbox-inline" [class.active]="debugServices">
              <input type="checkbox" [(ngModel)]="debugServices" (click)="debug();" name="debugServices">debugServices
            </label>
            <div *ngIf="debugServices" id="form-debugServices">
            </div>
          </div>
          <!--// debug-->          <!--cut down-->
        </div>
      </li>
      <!--cut up-->
      <!--=======-->
<!--pagination-->
    <input type="text" style="display:none" class="form-control my-2 my-lg-0" [(ngModel)]="solrquery.start" name="solrquery.start"/>
    <input type="text" style="display:none" class="form-control my-2 my-lg-0" [(ngModel)]="solrquery.rows" placeholder="10" name="solrquery.rows"/>
<!--//pagination-->
    </ul>
  </div>
</nav>

<!--div row upit-->
<div class="row" id="row-upit">
  <!--div upit col-->
  <!--<div id="upit" class="col-sm-3 col-xs-12">-->
  <div id="upit" class="invisible" style="display:none">
    <form>
      <!-- div form-group upit-->
      <div class="form-group" id="upit-group">

        <!-- div upit-polje-->
        <div id="query-polje">
        <!--<label class="inline" for="q">Upit</label>-->
        <!--<input required type="text" class="form-control"  [(ngModel)]="solrquery.q" placeholder="Traženi izraz?" name="q" #clanName>
        <button class="btn btn-primary form-control" (click)="searchClanovi(solrquery);" type="submit" >Traži</button>
        <button class="btn btn-warning form-control" (click)="resetQuery();" type="submit" >Reset</button>-->
        </div>
        <!-- //div form-group upit-->
        </div>


        <!-- div form-additional query fields -->
        <div id="form-additional">
        <!-- //div form-group-additional upit-->
        <div class="form-group" id="upit-group-additional">
        <!-- div form-hl -->
        <div id="form-hl">
          <input readonly type="hidden" class="form-control" [(ngModel)]="solrquery.wt" placeholder="json" name="solrquery.wt"/>
          <!--<input type="text" class="form-control" [(ngModel)]="solrquery.start" placeholder="start" name="solrquery.start"/>
          <input type="text" class="form-control" [(ngModel)]="solrquery.rows" placeholder="rows" name="solrquery.rows"/>-->
          <div>
          <label class="checkbox-inline col-xs-12">
            <input type="checkbox" [(ngModel)]="solrquery.indent" name="solrquery.indent"/>indent
          </label>
          </div>

          <!-- div form-hl -->
          <div>
          <label class="checkbox-inline col-xs-12" [class.active]="solrquery.hl.on">
            <input type="checkbox" [(ngModel)]="solrquery.hl.on" name="solrquery.hl.on">hl
          </label>
          </div>
          <div *ngIf="solrquery.hl.on">
            <input type="text" class="form-control" [(ngModel)]="solrquery.hl.fl" placeholder="hl.fl" name="hl.fl"/>
            <input type="text" class="form-control" [(ngModel)]="solrquery.hl.simple.pre" placeholder="hl.simple.pre" name="hl.simple.pre"/>
            <input type="text" class="form-control" [(ngModel)]="solrquery.hl.simple.post" placeholder="hl.simple.post" name="hl.simple.post"/>
            <div class="checkbox-inline">
            <label>
              <input type="checkbox" [(ngModel)]="solrquery.hl.requireFieldMatch" placeholder="hl.requireFieldMatch" name="hl.requireFieldMatch"/>requireFieldMatch
            </label>
            <label>
              <input type="checkbox" [(ngModel)]="solrquery.hl.usePhraseHighlighter" placeholder="hl.usePhraseHighlighter" name="hl.usePhraseHighlighter"/>usePhraseHighlighter
            </label>
            <label>
              <input type="checkbox" [(ngModel)]="solrquery.hl.highlightMultiTerm" placeholder="hl.highlightMultiTerm" name="hl.highlightMultiTerm"/>highlightMultiTerm
            </label>
            </div>
          </div>
          <!-- //div form-hl -->

          <!--// dismax-->
          <div>
            <label class="checkbox-inline" [class.active]="solrquery.dismax.on">
              <!--<input type="checkbox" (click)="toggle(solrquery.dismax)" name="dismax">dismax-->
              <input type="checkbox" [(ngModel)]="solrquery.dismax.on" name="solrquery.dismax.on">dismax
            </label>
            <div *ngIf="solrquery.dismax.on" id="form-dismax">
              <input type="text" class="form-control" [(ngModel)]="solrquery.dismax.q.alt" placeholder="dismax.q.alt" name="dismax.q.alt"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.dismax.qf" placeholder="dismax.qf" name="dismax.qf"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.dismax.mm" placeholder="dismax.mm" name="dismax.mm"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.dismax.pf" placeholder="dismax.pf" name="dismax.pf"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.dismax.ps" placeholder="dismax.ps" name="dismax.ps"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.dismax.qs" placeholder="dismax.qs" name="dismax.qs"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.dismax.tie" placeholder="dismax.tie" name="dismax.tie"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.dismax.bq" placeholder="dismax.bq" name="dismax.bq"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.dismax.bf" placeholder="dismax.bf" name="dismax.bf"/>
            </div>
          </div>

          <!-- edismax-->
          <div>
            <label class="checkbox-inline" [class.active]="solrquery.edismax.on">
              <input type="checkbox" [(ngModel)]="solrquery.edismax.on" name="solrquery.edismax.on">edismax
            </label>
            <div *ngIf="solrquery.edismax.on" id="form-edismax">
              <input type="text" class="form-control" [(ngModel)]="solrquery.edismax.q.alt" placeholder="edismax.q.alt" name="edismax.q.alt"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.edismax.qf" placeholder="edismax.qf" name="edismax.qf"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.edismax.mm" placeholder="edismax.mm" name="edismax.mm"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.edismax.pf" placeholder="edismax.pf" name="edismax.pf"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.edismax.ps" placeholder="edismax.ps" name="edismax.ps"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.edismax.qs" placeholder="edismax.qs" name="edismax.qs"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.edismax.tie" placeholder="edismax.tie" name="edismax.tie"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.edismax.bq" placeholder="edismax.bq" name="edismax.bq"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.edismax.bf" placeholder="edismax.bf" name="edismax.bf"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.edismax.uf" placeholder="edismax.uf" name="edismax.uf"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.edismax.pf2" placeholder="edismax.pf2" name="edismax.pf2"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.edismax.pf3" placeholder="edismax.pf3" name="edismax.pf3"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.edismax.ps2" placeholder="edismax.ps2" name="edismax.ps2"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.edismax.ps3" placeholder="edismax.ps3" name="edismax.ps3"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.edismax.boost" placeholder="edismax.boost" name="edismax.boost"/>
              <div class="checkbox">
                <label><input type="checkbox" [(ngModel)]="solrquery.edismax.stopwords" name="edismax.stopwords"/>stopwords</label>
              </div>
              <div class="checkbox">
               <label><input type="checkbox" [(ngModel)]="solrquery.edismax.lowercaseOperators" name="edismax.lowercaseOperators"/>lowercaseOperators</label>
              </div>
           </div>
          </div>
          <!--// edismax-->

          <!-- facet -->
          <div>
            <label class="checkbox-inline" [class.active]="solrquery.facet.on">
              <input type="checkbox" [(ngModel)]="solrquery.facet.on" name="solrquery.facet.on">facet
            </label>
            <div *ngIf="solrquery.facet.on" id="form-facet">
              <input type="text" class="form-control" [(ngModel)]="solrquery.facet.query" placeholder="facet.query" name="facet.query"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.facet.field" placeholder="facet.field" name="facet.field"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.facet.prefix" placeholder="facet.prefix" name="facet.prefix"/>
            </div>
          </div>
          <!--// facet-->

          <!-- spatial -->
          <div>
            <label class="checkbox-inline" [class.active]="solrquery.spatial.on">
              <input type="checkbox" [(ngModel)]="solrquery.spatial.on" name="solrquery.spatial.on">spatial
            </label>
            <div *ngIf="solrquery.spatial.on" id="form-spatial">
              <input type="text" class="form-control" [(ngModel)]="solrquery.spatial.pt" placeholder="spatial.pt" name="spatial.pt"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.spatial.sfield" placeholder="spatial.sfield" name="spatial.sfield"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.spatial.d" placeholder="spatial.d" name="spatial.d"/>
            </div>
          </div>
          <!--// spatial-->
          <!-- spellcheck -->
          <div>
            <label class="checkbox-inline" [class.active]="solrquery.spellcheck.on">
              <input type="checkbox" [(ngModel)]="solrquery.spellcheck.on" name="solrquery.spellcheck.on">spellcheck
            </label>
            <div *ngIf="solrquery.spellcheck.on" id="form-spellcheck">
              <input type="text" class="form-control" [(ngModel)]="solrquery.spellcheck.built" placeholder="spellcheck.built" name="spellcheck.built"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.spellcheck.reload" placeholder="spellcheck.reload" name="spellcheck.reload"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.spellcheck.q" placeholder="spellcheck.q" name="spellcheck.q"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.spellcheck.dictionary" placeholder="spellcheck.dictionary" name="spellcheck.dictionary"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.spellcheck.count" placeholder="spellcheck.count" name="spellcheck.count"/>
              <div class="checkbox">
                <label><input type="checkbox" [(ngModel)]="solrquery.spellcheck.onlyMorePopular" name="spellcheck.onlyMorePopular"/>onlyMorePopular</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" [(ngModel)]="solrquery.spellcheck.extendedResults" name="spellcheck.extendedResults"/>extendedResults</label>
              </div>
              <div class="checkbox">
             <label><input type="checkbox" [(ngModel)]="solrquery.spellcheck.collate" name="spellcheck.collate"/>collate</label>
              </div>
              <input type="text" class="form-control" [(ngModel)]="solrquery.spellcheck.maxCollations" placeholder="spellcheck.maxCollations" name="spellcheck.maxCollations"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.spellcheck.maxCollationTries" placeholder="spellcheck.maxCollationTries" name="spellcheck.maxCollationTries"/>
              <input type="text" class="form-control" [(ngModel)]="solrquery.spellcheck.accuracy" placeholder="spellcheck.accuracy" name="spellcheck.accuracy"/>
            </div>
          </div>
          <!--// spellcheck-->
          
          </div>

          </div>
          <!-- //div form-group upit-additional-->
        </div>
        <!-- //div row additional query fields -->

    </form>
  <!--//div upit col-->
  </div>
<!--//div row upit-->
<!--</div>-->
<!--div row rezultat-->
<!--<div class="row" id="row-rezultat">-->
<!--div rezultat-->
  <!--this was WORKING FINE without Before we split query from response-->
  <!--<div id="rezultat" class="col-sm-12 col-xs-12">
    <ul class="clanovi list-inline">
      <li class="list-inline-item" *ngFor="let clan of clanovi" [class.selected]="clan === selectedClan">
        <span class="badge">Clan br.{{clan.clan_id}}</span>
        <p [innerHTML]="clan.tekst"></p>
      </li>
    </ul>
  </div>-->
<!--// div rezultat-->
</div>
<!--div row rezultat-->

</div>
<!--//div container-->
